body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    background-color: #eff5f2;
}


#barre{
    position: fixed;
    top: 1vw;
    background-color: #221B3C;
    border-radius: 17px;
    width: 100%;
    height: 40px;
    font-size: 25px;
    text-align: justify;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 0.5vw;
}
.accueil, .experience, .formation, .interet, .benevolat, .contact{
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 5px;
    color: white;
}

#apropos{
    height: 600px;
} 

#formations, #interets, #benevolats, #formations{
    height: 600px;
    padding-top:6vw;
    margin-left: 20px;
}
#experiences{
    height: 1000px;
    padding-top:6vw;
    margin-left: 20px;
}

#contacts{
    height: 600px;
    padding-top:6vw;
    margin-left: 20px;
    color: white;
}


a:link {
    color: rgb(254, 252, 252);
    text-decoration: none;
    }
a:visited {
    color: white;
    text-decoration: none;
    } 
a:hover {
    color: #fe6086;
    text-decoration: none;
    }

.qui-suis-je{
    position: absolute;
    top: 1vw;
    background-color: #2D563E;
    border-radius: 15px;
    color: white;
    width: 43VW;
    margin-top: 18VW;
    margin-left: 3vw;
    padding: 0 12px 0 12px;
    font-size: 1.6vw;
    text-align: justify;

}
h1{
    font-size: 3vw;
    text-align: center;
}

/* lien telecharger cv */
.cv{
    position: absolute;
    background-color: #13231a;
    width: 300px;
    height: 40px;
    font-size: 20px;
    color: white;
    border-radius: 15px;
    text-align: center;
    margin-left: 145px ;
    margin-top: 5px;
    padding-top: 12px;
}

h2{
    color: #2D563E;
    font-size: 3vw;
}

.puces{
    font-size: 2vw;
}
img{
    margin-right: 3%;
    opacity: 0.8;

}
.coordonnee{
    list-style-type: none;
    margin-left: 2vw;
}

.container {
    position: relative;
}

.text-block {
    position: absolute;
    bottom: 100px;
    right: 20px;
    background-color: #8d4e63;
    border-radius: 15px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.text-block h2{
    color: white;
}